<h1>Editing System Administrator</h1>

<%= render 'form', system_administrator: @system_administrator %>

<%= link_to 'Show', @system_administrator %> |
<%= link_to 'Back', system_administrators_path %>
