<%= form_with(model: date_vote, local: true) do |form| %>
  <% if date_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_vote.errors.count, "error") %> prohibited this date_vote from being saved:</h2>

      <ul>
        <% date_vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
