<%= form_with(model: user_on_organization, local: true) do |form| %>
  <% if user_on_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_on_organization.errors.count, "error") %> prohibited this user_on_organization from being saved:</h2>

      <ul>
        <% user_on_organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
