<div class="row ml-0 mt-3">
  <h2>Edit Comment</h2>
</div>
<%= render partial: "form",
           locals: {
               comment: @comment,
               submit_btn_text: "Update"
           } %>
<%= button_to "Destroy", @comment, {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true} %>
<%= link_to 'Show', @comment %> |
<%= link_to 'Back', :back %>
