<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div class="row ml-0 mt-2 mb-3">
  <%= link_to "Add Event", new_event_path, class: ["btn", "btn-primary"] %>
</div>

<div class="flex-container">
  <% @events.each do |event| %>
    <%= render partial: 'event_tile', locals: { event: event } %>
  <% end %>
</div>

<br>