<div class="row ml-0 mt-3">
  <h2>Edit "<%=@organization.name%>" Organization</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Please enter the required information to edit the "<%=@organization.name%>" Organization:</p>
</div>
<%= render partial: "form",
           locals: {
               organization: @organization,
               submit_btn_text: "Update"
           } %>

<!%= link_to 'Show', @organization %>
<!%= link_to 'Back', organizations_path %>
