<p id="notice"><%= notice %></p>

<h1>Users</h1>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  td, th { 
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <td><%= organization.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>