<div class="row ml-0 mt-3">
  <h2>New organization</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Please enter the required information to create a new organization:</p>
</div>
<%= render partial: "form",
           locals: {
               organization: @organization,
               submit_btn_text: "Create"
           } %>
<%= link_to 'Back', organizations_path %>
