<div class="row ml-0 mt-3">
  <h2>Report event for inappropriate content</h2>
</div>

<%= render partial: "form",
           locals: {
               mail_box: @mail_box,
               submit_btn_text: "Send report"
           } %>
